#dashboard{
    width: 500px;
    height: 500px;
    border: 1px solid #000000;
	background : #e4ffcf;
}

#first_player{
	width: 40px;
	height: 40px;
    background: #ff9800;
    position: absolute;
}

#second_player{
	width: 40px;
	height: 40px;
	margin-top: 41px;
    background: #0096ff;
    position: absolute;
}
.row{
	width: 700px;
	content: "";
	display: table;
	clear: both;
}

.description{
	float: left;
	width: 50%;
}
